@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.radio-button {
  opacity: 0;
  position: fixed;
  width: 0;
  height: 0;
}

.radio-button + label {
  display: inline-block;
  padding: 3px;
  border: 2px solid #3c896d;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
  margin: 8px;
}

.radio-button:checked + label {
  border-color: #77bfa3;
  background-color: #98c9a3;
  color: white;
}

.radio-button:focus + label {
  border: 2px dashed #3c896d;
}

.radio-button + label:hover {
  background-color: #9ddbad;
}

.medium + label {
  border-color: #fc9e4f;
}

.medium:checked + label {
  border-color: #fc9e4f;
  background-color: #fdda72;
  color: white;
}

.medium:focus + label {
  border: 2px dashed #fc9e4f;
}

.medium + label:hover {
  background-color: #ffeba9;
}

.hard + label {
  border-color: #e87461;
}

.hard + label:hover {
  background-color: #fca092;
}

.hard:checked + label {
  border-color: #e87461;
  background-color: #f97a7a;
  color: white;
}

.hard:focus + label {
  border: 2px dashed #eb6753;
}

.options + label {
  border-width: 3px;
  font-size: 0.8rem;
  text-align: center;
  width: 150px;
  padding: 8px;
  align-self: center;
}

.options:checked + label {
  border-color: #77bfa3;
  background-color: #98c9a3;
  color: white;
}

.card-checkbox {
  opacity: 0;
  position: fixed;
  width: 0;
  height: 0;
}

.card-checkbox + label {
  display: inline-block;
  padding: 3px;
  border: 2px solid #3c896d;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
  margin: 8px;
}

.card-checkbox--easy + label {
  border-color: #2dacec;
}

.card-checkbox--medium + label {
  border-color: #fc9e4f;
}

.card-checkbox--hard + label {
  border-color: #e87461;
}

.card-checkbox--easy:checked + label {
  background-color: #53bbef;
  color: white;
}

.card-checkbox--medium:checked + label {
  background-color: #fdda72;
  color: white;
}

.card-checkbox--hard:checked + label {
  background-color: #f98e7e;
  color: white;
}

.card-checkbox--correct:checked + label {
  background-color: green;
}

.card-checkbox--incorrect:checked + label {
  background-color: red;
}
